<ion-content class="container">
  <div *ngIf="success" class="center alert alert-success" role="alert">
    <h4>Hilfestellung erfolgreich inseriert!</h4>
    <p>Speichern Sie sich die ID um das Angebot wieder zu löschen!</p>
    <span class="badge blue">
      {{offerID?.id}}
    </span>
    <button class="btn btn-primary d-block w-100" type="button" (click)="closeModal()">Ok!</button>
  </div>

  <form #form="ngForm" (ngSubmit)="processForm(form.value)" *ngIf="!success">
    <ion-item-group>
      <ion-item>
        <ion-input name="forename" type="text" placeholder="Vorname" ngModel required></ion-input>
      </ion-item>
      <ion-item>
        <ion-input name="surname" type="text" placeholder="Nachname" ngModel required></ion-input>
      </ion-item>
      <ion-item>
        <ion-input name="age" type="number" placeholder="Alter" ngModel></ion-input>
      </ion-item>

      <ion-item>
        <ion-input name="street" type="text" placeholder="Strasse" ngModel required></ion-input>
      </ion-item>
      <ion-item>
        <ion-input name="zip" type="text" placeholder="Postleitzahl" ngModel required></ion-input>
      </ion-item>
      <ion-item>
        <ion-input name="phoneNumber" type="text" placeholder="Telefonnummer" ngModel></ion-input>
      </ion-item>
      <ion-item>
        <ion-input name="city" type="text" placeholder="Stadt" ngModel required></ion-input>
      </ion-item>
      <ion-item>
        <ion-input name="mail" type="text" placeholder="EMail" ngModel required></ion-input>
      </ion-item>
    </ion-item-group>

    <ion-item-group>
      <ion-item>
        <ion-input name="title" type="text" placeholder="Titel" ngModel required></ion-input>
      </ion-item>

      <ion-item>
        <ion-textarea name="description" placeholder="Beschreibung der Hilfestellung" ngModel required></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-input name="period" type="text" placeholder="Angaben zum Zeitraum" ngModel required></ion-input>
      </ion-item>
    </ion-item-group>

    <button class="btn btn-primary d-block w-100" type="submit" [disabled]="form.invalid">Absenden!</button>
  </form>

</ion-content>
