<!--
  Generated template for the InformationenPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Informationen</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-card *ngFor="let authority of authorities">
      <ion-card-header>
        <ion-card-title text-wrap>{{authority.name}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list text-wrap>
          <ion-item *ngIf="authority.description">
            {{authority.description}}
          </ion-item>
          <ion-item *ngIf="authority.phoneNumber">
              {{authority.phoneNumber}}
            </ion-item>
            <ion-item *ngIf="authority.mail">
                {{authority.mail}}
              </ion-item>
            <ion-item *ngIf="authority.street || authority.city">
                {{authority.street}} {{authority.zip}}, {{authority.city}}
              </ion-item>
        </ion-list>
      </ion-card-content>
      </ion-card>
</ion-content>
