<!--
  Generated template for the NachrichtenPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Nachrichten</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <div *ngIf="!loggedIn">
      <div class="panel panel-info">
          <div class="panel-heading">
            Geschützter Bereich
          </div>
          <div class="panel-body">
            Logge Dich ein um deine verschlüsselten Nachrichten zu lesen.
          </div>
      </div>
      <form #form="ngForm" (ngSubmit)="login(form.value)">
          <div padding>
            <ion-item>
              <ion-input name="email" type="email" placeholder="Email" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="password" type="password" placeholder="Password" ngModel required></ion-input>
            </ion-item>
          </div>
          <div padding>
            <button ion-button class="full-width" type="submit" [disabled]="form.invalid" expand="block">Login</button>
          </div>
      </form>
    </div>
  
    <ion-list *ngIf="loggedIn">
      <ion-list-header>
        <h1>Messages</h1>
      </ion-list-header>
      <ion-item *ngFor="let message of messages" (click)="openModal(message)">
       <p style="color: black;">{{message.subject}}</p> 
      </ion-item>
    </ion-list>
  </ion-content>
  